* {
  margin: 0;
  padding: 0; }

body {
  background-color: #dcbb9a; }

#content {
  margin: 5px auto;
  width: 70%;
  background: #ffffff;
  padding: 15px;
  color: #000000; }
  #content h1 {
    padding: 10px;
    text-align: center;
    color: #893c00; }
  #content h2 {
    color: #893c00;
    margin: 20px 0 20px 0; }
  #content .img-left {
    float: left;
    margin: 0 15px 15px 0;
    border: 5px double #893c00; }
  #content .img-right {
    float: right;
    margin: 0 0 15px 15px;
    border: 5px double #893c00; }
  #content .brief {
    float: left;
    max-width: 40%;
    background: #fadcba;
    padding: 15px;
    margin: 0 15px 15px 0;
    color: #000000; }
  #content a {
    color: #3d70a1; }
  #content table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
    background: inherit; }
    #content table caption {
      text-align: right;
      color: #000000; }
    #content table th {
      font-size: 1.2em;
      background: #e0e0e0;
      font-weight: normal;
      text-transform: uppercase; }
    #content table tr {
      text-align: left;
      height: 40px;
      font-size: 1.1em;
      border-bottom: 1px solid #bfbfbf; }
      #content table tr:first-of-type {
        border: none; }
  #content div p {
    text-transform: uppercase;
    color: #C0C0C0;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 5px; }
  #content div .left-field {
    width: 49% !important;
    float: left; }
    #content div .left-field input {
      margin-top: 5px; }
  #content div .right-field {
    width: 49% !important;
    float: right; }
    #content div .right-field input {
      margin-top: 5px; }
  #content input[type='text'],
  #content input[type='email'],
  #content textarea {
    height: 20px;
    width: 100%; }
  #content textarea {
    height: 100px; }
  #content input[type='submit'] {
    height: 40px;
    width: 200px;
    background: #ffffff;
    border: 1px solid #3d70a1;
    color: #3d70a1;
    font-size: 1.1em;
    margin-top: 5px;
    cursor: pointer; }
