* {
  margin: 0;
  padding: 0; }

body {
  background-color: rgba(198, 238, 252, 0.53); }

#content {
  margin: 5px auto;
  width: 70%;
  background: #3b3b3b;
  padding: 15px;
  color: #ffffff; }
  #content h1 {
    padding: 10px;
    text-align: center;
    color: #fccd10; }
  #content h2 {
    color: #fccd10;
    margin: 20px 0 20px 0; }
  #content .img-left {
    float: left;
    margin: 0 15px 15px 0;
    border: 5px double #fccd10; }
  #content .img-right {
    float: right;
    margin: 0 0 15px 15px;
    border: 5px double #fccd10; }
  #content .brief {
    float: none;
    max-width: 100%;
    background: #fff178;
    padding: 15px;
    margin: 0 0 15px 0;
    color: #000000; }
  #content a {
    color: #f5c70f; }
  #content table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
    background: #677d01; }
    #content table caption {
      text-align: right;
      color: #000000; }
    #content table th {
      font-size: 1.2em;
      border-right: 2px solid #3b3b3b;
      background: #94a34e;
      font-weight: normal;
      text-transform: uppercase;
      padding-left: 10px; }
      #content table th:last-child {
        border-right: none; }
    #content table tr {
      text-align: left;
      height: 40px;
      font-size: 1.1em;
      border-bottom: 1px solid #bfbfbf; }
      #content table tr:first-of-type {
        border: none; }
  #content div p {
    text-transform: uppercase;
    color: #FFFF00;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 5px; }
  #content div .left-field {
    width: 49% !important;
    float: left; }
    #content div .left-field input {
      margin-top: 5px; }
  #content div .right-field {
    width: 49% !important;
    float: right; }
    #content div .right-field input {
      margin-top: 5px; }
  #content input[type='text'],
  #content input[type='email'],
  #content textarea {
    height: 20px;
    width: 100%; }
  #content textarea {
    height: 100px; }
  #content input[type='submit'] {
    height: 40px;
    width: 200px;
    background: #3b3b3b;
    border: 1px solid #f5c70f;
    color: #f5c70f;
    font-size: 1.1em;
    margin-top: 5px;
    cursor: pointer; }
