/*
#B7C8D9
#FFF
#F3F3F3
#A4A4A4
#F0F0F0
#000
#343638
#E8E8E8
#9E9E9E
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    margin: 0;
    padding: 0;
}

.main {
    background: #B7C8D9;
}

.container {
    width: 1100px;
    /*    width: 85%;*/
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}

.container header {
    background-image: url(../img/apples.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 150px;
    height: 550px;
}

.container .header-logo {
    letter-spacing: 3px;
    font-size: 13px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    margin: 35px 0;
}

.container header nav {
    float: right;
}

.container header nav ul {
    list-style-type: none;
}

.container header nav ul li {
    display: inline-block;
    margin: 35px 0;
    padding-bottom: 10px;
    margin-left: 40px;
    font-size: 12px;
}

.container header nav ul li:hover {
    border-bottom: 2px solid #B7C8D9;
}

.container header nav ul li a {
    color: #FFF;
    text-decoration: none;
}

.container header h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-top: 100px;
    color: #fff;
    font-size: 36px;
    font-weight: 100;
}

.container header h1 span {
    font-size: 65px;
    font-family: serif;
}

.container header h1:after {
    content: 'tm';
    vertical-align: super;
    font-size: 17px;
    letter-spacing: 1px;
}

.container header p {
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.container header .anchor {
    display: block;
    margin: 130px auto;
    cursor: pointer;
    height: 30px;
    width: 185px;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #fff;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}

.container header .anchor:hover {
    color: gray;
}

.container .article-header {
    background: #fff;
    padding: 80px 130px 130px 130px;
}

.container .article-header p:first-child {
    float: left;
    width: 49%;
    font-size: 20px;
}

.container .article-header p:last-child {
    float: right;
    width: 49%;
    font-size: 12px;
}

.container article {
    background: #F3F3F3;
    padding-bottom: 150px;
}

.container article h2 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    padding: 80px;
}

.container article .gallery {
    padding: 0 130px;
    background: #F3F3F3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container article .gallery .img1 {
    position: relative;
    height: 214px;
    width: 63%;
    background-image: url(../img/sample.jpg);
    background-position: left;
    background-size: cover;
}

.container article .gallery .img2 {
    position: relative;
    height: 214px;
    width: 33%;
    background-image: url(../img/sample2.jpg);
    background-position: left;
    background-size: cover;
}

.container article .gallery .img3 {
    background-image: url(../img/sample3.jpg);
    margin-top: 30px;
}

.container article .gallery h2 {
    position: absolute;
    padding: 0;
    bottom: 0.1px;
    margin: 15px;
    color: #E8E8E8;
    z-index: 2;
    font-size: 14px;
}

.container article .gallery h2 span {
    color: #A4A4A4;
}

.img1:after,
.img2:after {
    position: absolute;
    content: "";
    height: 20%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    bottom: 0.1px;
}

.container article .gallery .article-mark {
    height: 30px;
    width: 70px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 0.1px;
    margin: 15px;
    border: 2px solid #fff;
    text-align: center;
    color: #fff;
    padding-top: 7px;
}

.article-mark:hover {
    color: #f0f0f0!important;
    cursor: pointer;
}

i {
    margin-left: 2px;
}

.container .article-footer {
    background: #fff;
    margin: 80px 130px 0 130px;
    /*    display: flex;*/
}

.container .article-footer h2 {
    display: inline-block;
    width: 33%;
    text-align: left;
    padding-right: 30px;
}

.container .article-footer input,
.container .article-footer button {
    height: 40px;
}

.container .article-footer input[type='text'] {
    box-sizing: border-box;
    border: 1px solid black;
    width: 280px;
    background: #f0f0f0;
}

.container .article-footer input[type='text']::placeholder,
.container footer div input[type="text"]::placeholder {
    padding-left: 10px;
    color: black;
    font-size: 12px;
}

.container .article-footer input[type='text']:focus,
.container footer div input[type="text"]:focus {
    padding-left: 10px;
    transition: 0.1s;
}

.container .article-footer input[type='button'] {
    width: 90px;
    background: #000;
    color: #9E9E9E;
    border: none;
    margin-left: -5px;
    cursor: pointer;
}

.container .article-footer input[type='button']:hover {
    color: #fff;
}

.container .footer {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 130px 130px 50px 130px;
    color: dimgrey;
}

.container .footer h3 {
    margin-bottom: 15px;
    color: black;
    font-size: 18px;
}

.container .footer div {
    width: 20%;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.container .footer div:nth-child(2) p {
    line-height: 2;
}

.container .footer blockquote {
    font-style: italic;
}

.container .footer span {
    line-height: 2;
    color: gainsboro;
}

.container .footer blockquote:before,
.container .footer blockquote:after {
    content: '"';
}

.container .footer div:last-child {
    width: 25%;
}

.container .footer div input {
    height: 40px;
    box-sizing: border-box;
    margin-top: 25px;
}

.container .footer div input[type="text"] {
    width: 130px;
    border: 1px solid #000;
    background: #f0f0f0;
}

.container .footer div input[type="button"] {
    margin-left: -5px;
    width: 70px;
    background: #000;
    color: #9E9E9E;
    border: none;
    cursor: pointer;
}

.container .footer div input[type="button"]:hover {
    color: #fff;
}

hr {
    margin: -35px 130px 25px 130px;
    height: 2px;
    background: #f0f0f0;
    border: none;
}

footer nav {
    height: 50px;
    background: #fff;
}

footer nav span {
    padding-left: 130px;
    display: inline-block;
    font-size: 14px;
    color: grey;
}

footer nav ul {
    float: right;
    list-style-type: none;
}

footer nav ul li {
    display: inline-block;
    margin-right: 40px;
}

footer nav ul li:last-child {
    padding-right: 130px;
    margin-right: 0;
}

footer nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
}