@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    margin: 0;
    padding: 0;
}

.main {
    background: #B7C8D9;
}

.container {
    width: 85%;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}

.container header {
    background-image: url(../img/apples.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 14%;
    height: 38%;
}

.container .header-logo {
    letter-spacing: 3px;
    font-size: 1vw;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    margin: 40px 0;
}

.container header nav {
    float: right;
}

.container header nav ul {
    list-style-type: none;
}

.container header nav ul li {
    display: inline-block;
    margin: 40px 0;
    padding-bottom: 10px;
    margin-left: 40px;
    font-size: 0.88vw;
}

.container header nav ul li:hover {
    border-bottom: 2px solid #B7C8D9;
}

.container header nav ul li a {
    color: #FFF;
    text-decoration: none;
}

.container header h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-top: 12%;
    color: #fff;
    font-size: 3vw;
    font-weight: 100;
}

.container header h1 span {
    font-size: 4.5vw;
    font-family: serif;
}

.container header h1:after {
    content: 'tm';
    vertical-align: super;
    font-size: 1.4vw;
    letter-spacing: 1px;
}

.container header p {
    text-align: center;
    color: #fff;
    font-size: 0.88vw;
}

.container header .anchor {
    display: block;
    margin: 15% auto;
    cursor: pointer;
    width: 20%;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #fff;
    font-size: 0.88vw;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 2;
}

.container header .anchor:hover {
    color: gray;
}

.container .article-header {
    background: #fff;
    padding: 8% 14% 14% 14%;
}

.container .article-header p:first-child {
    float: left;
    width: 49%;
    font-size: 1.4vw;
}

.container .article-header p:last-child {
    float: right;
    width: 49%;
    font-size: 0.86vw;
}

.container article {
    background: #F3F3F3;
    padding-bottom: 15%;
}

.container article h2 {
    text-align: center;
    font-weight: 300;
    font-size: 1.4vw;
    padding: 9%;
}

.container article .gallery {
    padding: 0 14%;
    background: #F3F3F3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container article .gallery .img1 {
    position: relative;
    height: 14vw;
    width: 63%;
    background-image: url(../img/sample.jpg);
    background-position: left;
    background-size: cover;
}

.container article .gallery .img2 {
    position: relative;
    height: 14vw;
    width: 33%;
    background-image: url(../img/sample2.jpg);
    background-position: left;
    background-size: cover;
}

.container article .gallery .img3 {
    background-image: url(../img/sample3.jpg);
    margin-top: 3.5%;
}

.container article .gallery h2 {
    position: absolute;
    padding: 0;
    bottom: 0.1px;
    margin: 3%;
    color: #E8E8E8;
    /*    z-index: 2;*/
    font-size: 1vw;
    text-shadow: 1px 1px 2px #000, 0 0 25px #000, 0 0 5px #000;
}

.container article .gallery h2 span {
    color: #A4A4A4;
}

.container article .gallery .article-mark {
    font-size: 1vw;
    height: auto;
    padding: 0.8vw;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 0.1px;
    margin: 15px;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
}

.article-mark:hover {
    color: #f0f0f0!important;
    cursor: pointer;
}

.container .article-footer {
    background: #fff;
    margin: 7% 14% 0 14%;
}

.container .article-footer h2 {
    display: inline-block;
    min-width: 33%;
    text-align: left;
    padding-right: 3%;
}

.container .article-footer input,
.container .article-footer button {
    height: 3vw;
}

.container .article-footer input[type='text'] {
    box-sizing: border-box;
    border: 1px solid black;
    width: 30%;
    background: #f0f0f0;
}

.container .article-footer input[type='text']::placeholder,
.container footer div input[type="text"]::placeholder {
    padding-left: 5%;
    color: black;
    font-size: 0.9vw;
}

.container .article-footer input[type='text']:focus,
.container footer div input[type="text"]:focus {
    padding-left: 15px;
    transition: 0.1s;
}

.container .article-footer input[type='button'] {
    width: 12%;
    background: #000;
    color: #9E9E9E;
    border: none;
    margin-left: -1%;
    cursor: pointer;
}

.container .article-footer input[type='button']:hover {
    color: #fff;
}

.container .footer {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 14% 14% 5% 14%;
    color: dimgrey;
}

.container .footer h3 {
    margin-bottom: 20%;
    color: black;
    font-size: 1.2vw;
}

.container .footer div {
    width: 20%;
    font-size: 1vw;
    letter-spacing: 0.5px;
}

.container .footer div:nth-child(2) p {
    line-height: 2;
}

.container .footer blockquote {
    font-style: italic;
}

.container .footer span {
    line-height: 2;
    color: gainsboro;
}

.container .footer blockquote:before,
.container .footer blockquote:after {
    content: '"';
}

.container .footer div:last-child {
    width: 25%;
}

.container .footer div input {
    height: 20%;
    box-sizing: border-box;
    margin-top: 15%;
}

.container .footer div input[type="text"] {
    width: 65%;
    border: 1px solid #000;
    background: #f0f0f0;
}

.container .footer div input[type="button"] {
    margin-left: -3%;
    width: 35%;
    background: #000;
    color: #9E9E9E;
    border: none;
    cursor: pointer;
}

.container .footer div input[type="button"]:hover {
    color: #fff;
}

hr {
    margin: -3.5% 14% 3% 14%;
    height: 2px;
    background: #f0f0f0;
    border: none;
}

footer nav {
    height: 20%;
    background: #fff;
    padding: 0 14%;
    padding-bottom: 2%;
}

footer nav span {
    display: inline-block;
    font-size: 1.1vw;
    color: grey;
}

footer nav ul {
    float: right;
    list-style-type: none;
}

footer nav ul li {
    display: inline-block;
    margin-right: 40px;
}

footer nav ul li:last-child {
    margin-right: 0;
}

footer nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.1vw;
}