$contentBackground: null !default;
$bodyBackground: null !default;
$contentTitleBorderColor: null !default;
$contentBriefColor: null !default;
$contentBriefTextColor: null !default;
$contentBriefPosition: null !default;
$contentBriefSize: null !default;
$contentBriefMargin: null !default;
$contentTable1Color: null !default;
$contentTable2Color: null !default;
$contentButtonColor: null !default;
$contentTextColor: null !default;
$contentLabelColor: null !default;
$contentBlockPadding: 15px;
$contentTableBorderColor:lighten($contentBriefTextColor, 75%);
$contentCaptionColor:#000000;
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bodyBackground;
}

#content {
    margin: 5px auto;
    width: 70%;
    background: $contentBackground;
    padding: $contentBlockPadding;
    color: $contentTextColor;
    h1 {
        padding: 10px;
        text-align: center;
        color: $contentTitleBorderColor;
    }
    h2 {
        color: $contentTitleBorderColor;
        margin: 20px 0 20px 0;
    }
    .img-left {
        float: left;
        margin: 0 15px 15px 0;
        border: 5px double $contentTitleBorderColor;
    }
    .img-right {
        float: right;
        margin: 0 0 15px 15px;
        border: 5px double $contentTitleBorderColor;
    }
    .brief {
        float: $contentBriefPosition;
        max-width: $contentBriefSize;
        background: $contentBriefColor;
        padding: $contentBlockPadding;
        margin: $contentBriefMargin;
        color: $contentBriefTextColor;
    }
    a {
        color: $contentButtonColor;
    }
    table {
        width: 100%;
        margin-top: 15px;
        border-collapse: collapse;
        background: $contentTable2Color;
        caption {
            text-align: right;
            color: $contentCaptionColor;
        }
        th {
            font-size: 1.2em;
            border-right: 2px solid $contentBackground;
            background: $contentTable1Color;
            font-weight: normal;
            text-transform: uppercase;
            padding-left: 10px;
            &:last-child {
                border-right: none;
            }
        }
        tr {
            text-align: left;
            height: 40px;
            font-size: 1.1em;
            border-bottom: 1px solid $contentTableBorderColor;
            &:first-of-type {
                border: none;
            }
        }
    }
    div {
        p {
            text-transform: uppercase;
            color: $contentLabelColor;
            font-size: 1.2em;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .left-field {
            width: 49%!important;
            float: left;
            input {
                margin-top: 5px;
            }
        }
        .right-field {
            width: 49%!important;
            float: right;
            input {
                margin-top: 5px;
            }
        }
    }
    input[type='text'],
    input[type='email'],
    textarea {
        height: 20px;
        width: 100%;
    }
    textarea {
        height: 100px;
    }
    input[type='submit'] {
        height: 40px;
        width: 200px;
        background: $contentBackground;
        border: 1px solid $contentButtonColor;
        color: $contentButtonColor;
        font-size: 1.1em;
        margin-top: 5px;
        cursor: pointer;
    }
}