$bodyBackground:#dcbb9a;
$contentBackground:#ffffff;
$contentTitleBorderColor: #893c00;
$contentBriefColor: #fadcba;
$contentBriefTextColor:black;
$contentTable1Color: #e0e0e0;
$contentTable2Color: inherit;
$contentButtonColor: #3d70a1;
$contentTextColor: black;
$contentLabelColor: silver;