$bodyBackground:rgba(198, 238, 252, 0.53);
$contentBackground:#3b3b3b;
$contentTitleBorderColor: #fccd10;
$contentBriefColor: #fff178;
$contentBriefTextColor:black;
$contentTable1Color: #94a34e;
$contentTable2Color: #677d01;
$contentButtonColor: #f5c70f;
$contentTextColor: white;
$contentLabelColor: yellow;

