$bodyBackground:rgba(198, 238, 252, 0.53);
$contentBackground:#3b3b3b;
$contentTitleBorderColor: #fccd10;
$contentBriefColor: #fff178;
$contentBriefTextColor:#000000;
$contentBriefPosition: none;
$contentBriefSize: 100%;
$contentBriefMargin: 0 0 15px 0;
$contentTable1Color: #94a34e;
$contentTable2Color: #677d01;
$contentButtonColor: #f5c70f;
$contentTextColor: #ffffff;
$contentLabelColor: #FFFF00;
