$bodyBackground:#dcbb9a;
$contentBackground:#ffffff;
$contentTitleBorderColor: #893c00;
$contentBriefColor: #fadcba;
$contentBriefTextColor:#000000;
$contentBriefPosition: left;
$contentBriefSize: 40%;
$contentBriefMargin: 0 15px 15px 0;
$contentTable1Color: #e0e0e0;
$contentTable2Color: inherit;
$contentButtonColor: #3d70a1;
$contentTextColor: #000000;
$contentLabelColor: #C0C0C0;
